<!-- <a href="/contacts/new">Create Contact</a> -->

<%= contacts_url %>
<%= new_contact_path %>

<%= link_to "Create Contact", new_contact_path %>
<ul>
<% @contacts.each do |contact| %>
	<li>
		<%= contact.first_name %>
		<%= contact.middle_name %>
		<%= contact.last_name %>
		<%= link_to "Show", contact_path(contact) %>
	</li>
<% end %>
</ul>

